#nav-bar{
    position: sticky ;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right, #a1fcdf, #09db99);
    padding-bottom: 5px;
}

.fa-emoji{
    padding-right: 5px;
}

.nav-link{
    color: black;
    font-weight: 500;
    
}

.navbar-brand{
    color: black;
    font-weight: 600;
}

#banner{
    background-image: linear-gradient(to right, #a1fcdf, #09db99);
    padding-top: 5%;
    
}

.text-perkenalkan{
    margin-top: 100px;
    font-weight: 600;
    font-size: 40px;
}

.text-biodata{
    font-size: 20px;
}

.foto-profile{
    width: 110%;
}

.bottom-img{
    width: 100%;
    padding-top: 30px;
}

#content{
    padding-top: 100px;
    margin-bottom: 90px;
}

.text-content{
    padding-top: 20px;
}

.image-content{
    width: 100%;
}

#contact-form{
    background-color:#f8f9fa;
    padding-top: 30px;
}