html{
    scroll-behavior: smooth;
    transition: 0.6s;
}

#nav-bar{
    position: sticky ;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right, #a1fcdf, #09db99);
    padding-bottom: 5px;
}

.fa-emoji{
    padding-right: 5px;
}

.nav-link{
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

.nav-link:hover{
    opacity: 0.6;
}

.navbar-brand{
    color: black;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-brand:hover{
    opacity: 0.6;
}

#banner{
    background-image: linear-gradient(to right, #a1fcdf, #09db99);
    padding-top: 5%;
}

.text-perkenalkan{
    margin-top: 100px;
    font-weight: 600;
    font-size: 40px;
}

.text-biodata{
    font-size: 20px;
}

.foto-profile{
    width: 115%;
}

.bottom-img{
    width: 100%;
}

#content{
    padding-top: 8%;
    padding-bottom: 5%;
}

.text-content{
    padding-top: 20px;
}

.image-content{
    width: 100%;
    transition: 0.3s;
}

.image-content:hover{
    transform: scale(1.05);
}

#contact-form{
    background-color:#f8f9fa;
    padding-top: 30px;
}

#address{
    padding-top: 8%;
    padding-bottom: 9%;
    background-image: linear-gradient(to right, #a1fcdf, #09db99);
}

.image-location{
    transition: 0.7s;
    width: 100%;
    border-radius: 20%;
}

.image-location:hover{
    transform: scale(1.05);
}

.text-address{
    padding-top: 10px;
    font-weight: 500;
    
}

.right-content{
    padding-top: 25%;
    padding-left: 25px;
    
}

.content-address{
    font-size: 20px;
    
}

.address-link{
    color: black;
    
}

.address-link:hover{
    color: black;
    opacity: 0.6;
    text-decoration: none;
}
